<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="IDBHelper" value="Test.DB.MySql,Test.DB.MySql.MySqlHelper"/>  <!--类类型必须完整使用完全限定名(命名空间+类名)-->
  </appSettings>
</configuration>